[Service]
Type=notify
ExecStart=/usr/bin/python3 /usr/local/libexec/certmonger-exporter.pyz
Environment=PYTHONFAULTHANDLER=1
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
