[Service]
Type=notify
User=nobody
ExecStart=/usr/bin/python3 /usr/local/libexec/certmonger-exporter.pyz
Restart=always

[Install]
WantedBy=multi-user.target
